* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: repeating-linear-gradient(45deg, #7066f8, #7066f8 450px);
}

nav {
    display: flex;
    flex-direction: column;
}


.links {
    display: flex;
    justify-content: center;
    list-style: none;
    text-transform: capitalize;
    text-align: center;
    background: linear-gradient(45deg, #220296, #220296);
}

.links li a {
    text-decoration: none;
    padding: 30px;
    display: block;
    color: #ffffff;
    size: 20px;
    transition: background .5s;
}

.links li a:hover {
    background-color: #07f74f;
}

.links li.bd {
    border-right: 1px solid #fff;
}

main {
    width: 90%;
    margin: 50px auto;
    background-color: #009688;
}

.container {
    padding: 20px;
    margin: 15px;
    background: #97afe08f;
    margin: 30px auto;
    width: 100%;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
    background: linear-gradient(45deg, #220296, #220296);
}

@media (max-width:676px) {
    .par {
        font-size: 22px;
    }
    .links {
        flex-direction: column;
    }
}